# Data Science
#### By: Javier Orduz
[license-badge]: https://img.shields.io/badge/License-CC-orange
[license]: https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en

[![CC License][license-badge]][license]  [![DS](https://img.shields.io/badge/downloads-DS-green)](https://github.com/Earlham-College/DS_Fall_2022)  [![Github](https://img.shields.io/badge/jaorduz-repos-blue)](https://github.com/jaorduz/)  ![Follow @jaorduc](https://img.shields.io/twitter/follow/jaorduc?label=follow&logo=twitter&logoColor=lkj&style=plastic)

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

In [3]:
df = pd.read_csv("drinks.csv")

In [4]:
df.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

In [5]:
beer_servings = []
for i in df["beer_servings"]:
    beer_servings.append(i)
print(beer_servings)

[0, 89, 25, 245, 217, 102, 193, 21, 261, 279, 21, 122, 42, 0, 143, 142, 295, 263, 34, 23, 167, 76, 173, 245, 31, 231, 25, 88, 37, 144, 57, 147, 240, 17, 15, 130, 79, 159, 1, 76, 0, 149, 230, 93, 192, 361, 0, 32, 224, 15, 52, 193, 162, 6, 52, 92, 18, 224, 20, 77, 263, 127, 347, 8, 52, 346, 31, 133, 199, 53, 9, 28, 93, 1, 69, 234, 233, 9, 5, 0, 9, 313, 63, 85, 82, 77, 6, 124, 58, 21, 0, 31, 62, 281, 20, 82, 19, 0, 343, 236, 26, 8, 13, 0, 5, 149, 0, 0, 98, 238, 62, 0, 77, 31, 12, 47, 5, 376, 49, 5, 251, 203, 78, 3, 42, 188, 169, 22, 0, 306, 285, 44, 213, 163, 71, 343, 194, 1, 140, 109, 297, 247, 43, 194, 171, 120, 105, 0, 56, 0, 9, 283, 157, 25, 60, 196, 270, 56, 0, 225, 284, 16, 8, 128, 90, 152, 185, 5, 2, 99, 106, 1, 36, 36, 197, 51, 51, 19, 6, 45, 206, 16, 219, 36, 249, 115, 25, 21, 333, 111, 6, 32, 64]

In [6]:
for i in range(len(df["country"])):
    if df["continent"][i]=="SA" or df["continent"][i]=="NA":
        print(df.iloc[i,:])

country                         Argentina
beer_servings                         193
spirit_servings                        25
wine_servings                         221
total_litres_of_pure_alcohol          8.3
continent                              SA
Name: 6, dtype: object
country                         Bolivia
beer_servings                       167
spirit_servings                      41
wine_servings                         8
total_litres_of_pure_alcohol        3.8
continent                            SA
Name: 20, dtype: object
country                         Brazil
beer_servings                      245
spirit_servings                    145
wine_servings                       16
total_litres_of_pure_alcohol       7.2
continent                           SA
Name: 23, dtype: object
country                         Chile
beer_servings                     130
spirit_servings                   124
wine_servings                     172
total_litres_of_pure_alcohol      7.6
continent                          SA
Name: 35, dtype: object
country                         Colombia
beer_servings                        159
spirit_servings                       76
wine_servings                          3
total_litres_of_pure_alcohol         4.2
continent                             SA
Name: 37, dtype: object
country                         Ecuador
beer_servings                       162
spirit_servings                      74
wine_servings                         3
total_litres_of_pure_alcohol        4.2
continent                            SA
Name: 52, dtype: object
country                         Guyana
beer_servings                       93
spirit_servings                    302
wine_servings                        1
total_litres_of_pure_alcohol       7.1
continent                           SA
Name: 72, dtype: object
country                         Paraguay
beer_servings                        213
spirit_servings                      117
wine_servings                         74
total_litres_of_pure_alcohol         7.3
continent                             SA
Name: 132, dtype: object
country                         Peru
beer_servings                    163
spirit_servings                  160
wine_servings                     21
total_litres_of_pure_alcohol     6.1
continent                         SA
Name: 133, dtype: object
country                         Suriname
beer_servings                        128
spirit_servings                      178
wine_servings                          7
total_litres_of_pure_alcohol         5.6
continent                             SA
Name: 163, dtype: object
country                         Uruguay
beer_servings                       115
spirit_servings                      35
wine_servings                       220
total_litres_of_pure_alcohol        6.6
continent                            SA
Name: 185, dtype: object
country                         Venezuela
beer_servings                         333
spirit_servings                       100
wine_servings                           3
total_litres_of_pure_alcohol          7.7
continent                              SA
Name: 188, dtype: object

In [8]:
for i in range(len(df["country"])):
    if df["continent"][i]=="NA":
        print(df.iloc[i,:])

In [9]:
north_america = ['Beer']
print( north_america)
america_continent = ['Champagne']
print(  america_continent)

['Beer']
['Champagne']

In [12]:
wine = 0
number = 0
for i in range(len(df["continent"])):
    if df["continent"][i] == "AF":
        wine += df["wine_servings"][i]
        number +=1
print(wine/number)

16.264150943396228

In [15]:
wine = 0
people = 0
number = 0
for i in range(len(df["continent"])):
    if df["continent"][i] == "NA" or df["continent"][i]=="SA":
        wine += df["wine_servings"][i]
        people += df["spirit_servings"][i] + df["beer_servings"][i] + df["wine_servings"][i]
        number +=1
print(wine/people/number)

0.014766185632047945

In [16]:
wine = 0
number = 0
for i in range(len(df["continent"])):
    if df["continent"][i] == "EU":
        wine += df["wine_servings"][i]
        people += df["spirit_servings"][i] + df["beer_servings"][i] + df["wine_servings"][i]
        number +=1
print(wine/people/number)

0.005618766680713583

# Exercises

1. Use ```pandas``` and read dataset drinks.csv
1. Show the first 10 rows of drinks
1. create a variable called beer_servings and use it to store the beer_servings column
1. Display a dataframe where the only rows are those with continent America
1. Display a dataframe where the only rows are those with continent North America
1. Create a new dataframe called north_america that holds your answer in 1. drinks (the dataframe) should remain unchanged.
1. Create a new dataframe called america_continent that holds your answer in 1. drinks (the dataframe) should remain unchanged.
1. What is the average wine consumption per person per year in Africa?
1. What is the average wine consumption per person per year in America?
1. What is the average wine consumption per person per year in Europe?

1. Submmit your report in Moodle. Template https://www.overleaf.com/read/xqcnnnrsspcp

## Versions

In [ ]:
from platform import python_version
print("python version: ", python_version())
!pip3 freeze | grep qiskit

# References

[0] source https://github.com/sinanuozdemir

[1] numpy https://numpy.org/

[2] scipy https://docs.scipy.org/

[3] matplotlib https://matplotlib.org/

[4] matplotlib.cm https://matplotlib.org/stable/api/cm_api.html

[5] matplotlib.pyplot https://matplotlib.org/stable/api/pyplot_summary.html

[6] pandas https://pandas.pydata.org/docs/

[7] seaborn https://seaborn.pydata.org/