# Data Science
#### By: Javier Orduz
[license-badge]: https://img.shields.io/badge/License-CC-orange
[license]: https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en

[![CC License][license-badge]][license]  [![DS](https://img.shields.io/badge/downloads-DS-green)](https://github.com/Earlham-College/DS_Fall_2022)  [![Github](https://img.shields.io/badge/jaorduz-repos-blue)](https://github.com/jaorduz/)  ![Follow @jaorduc](https://img.shields.io/twitter/follow/jaorduc?label=follow&logo=twitter&logoColor=lkj&style=plastic)

In [21]:
import matplotlib.pyplot as plt
import math
import pandas as pd
import pylab as pl
import numpy as np
import io
%matplotlib inline

In [22]:
df = pd.read_csv("yelp.csv",encoding = 'latin1')

In [46]:
t = df['text']
print(t[0].split())

['My', 'wife', 'took', 'me', 'here', 'on', 'my', 'birthday', 'for', 'breakfast', 'and', 'it', 'was', 'excellent.', 'The', 'weather', 'was', 'perfect', 'which', 'made', 'sitting', 'outside', 'overlooking', 'their', 'grounds', 'an', 'absolute', 'pleasure.', 'Our', 'waitress', 'was', 'excellent', 'and', 'our', 'food', 'arrived', 'quickly', 'on', 'the', 'semi-busy', 'Saturday', 'morning.', 'It', 'looked', 'like', 'the', 'place', 'fills', 'up', 'pretty', 'quickly', 'so', 'the', 'earlier', 'you', 'get', 'here', 'the', 'better.', 'Do', 'yourself', 'a', 'favor', 'and', 'get', 'their', 'Bloody', 'Mary.', 'It', 'was', 'phenomenal', 'and', 'simply', 'the', 'best', "I've", 'ever', 'had.', "I'm", 'pretty', 'sure', 'they', 'only', 'use', 'ingredients', 'from', 'their', 'garden', 'and', 'blend', 'them', 'fresh', 'when', 'you', 'order', 'it.', 'It', 'was', 'amazing.', 'While', 'EVERYTHING', 'on', 'the', 'menu', 'looks', 'excellent,', 'I', 'had', 'the', 'white', 'truffle', 'scrambled', 'eggs', 'vegetable', 'skillet', 'and', 'it', 'was', 'tasty', 'and', 'delicious.', 'It', 'came', 'with', '2', 'pieces', 'of', 'their', 'griddled', 'bread', 'with', 'was', 'amazing', 'and', 'it', 'absolutely', 'made', 'the', 'meal', 'complete.', 'It', 'was', 'the', 'best', '"toast"', "I've", 'ever', 'had.', 'Anyway,', 'I', "can't", 'wait', 'to', 'go', 'back!']

In [23]:
df.dtypes
cdf = df[['stars','cool','useful','funny']]

In [24]:
msk = np.random.rand(len(df)) < 0.8
set_1 = cdf[msk]
set_2 = cdf[~msk]

In [25]:
from sklearn import linear_model
regr = linear_model.LinearRegression()

In [26]:
from sklearn.metrics import mean_squared_error
training_data = cdf.sample(frac=0.5, random_state=25)
testing_data = cdf.drop(training_data.index)
MSE = mean_squared_error(training_data, testing_data)
 
RMSE = math.sqrt(MSE)
print(RMSE)

2.746079022897921

In [30]:
cdf.groupby("stars").mean()

           cool    useful     funny
stars
1      0.576769  1.604806  1.056075
2      0.719525  1.563107  0.875944
3      0.788501  1.306639  0.694730
4      0.954623  1.395916  0.670448
5      0.944261  1.381780  0.608631

# Exercises

1. 1. Read `yelp.csv` into a DataFrame.
1. Evaluate the model by splitting it into training and testing sets and computing the RMSE. Does the RMSE make intuitive sense to you?
6. Try removing some of the features and see if the Root-Mean-Squared Error (RMSE) improves.
7. **Bonus:** Investigate of some new features you could create from the existing data that might be predictive of the response. (This is called "feature engineering".) Figure out how to create those features in Pandas, add them to your model, and see if the RMSE improves.
1. Submmit your report in Moodle. Template https://www.overleaf.com/read/xqcnnnrsspcp

<!---
8. **Bonus:** Compare your best RMSE on testing set with the RMSE for the "null model", which is the model that ignores all features and simply predicts the mean rating in the training set for all observations in the testing set.
9. **Bonus:** Instead of treating this as a regression problem, treat it as a classification problem and see what testing accuracy you can achieve with KNN.
10. **Bonus:** Figure out how to use linear regression for classification, and compare its classification accuracy to KNN.
1. Submmit your report in Moodle. Template https://www.overleaf.com/read/xqcnnnrsspcp
--->

## Versions

In [ ]:
from platform import python_version
print("python version: ", python_version())
!pip3 freeze | grep qiskit

# References

[0] data https://tinyurl.com/2m3vr2xp

[1] numpy https://numpy.org/

[2] scipy https://docs.scipy.org/

[3] matplotlib https://matplotlib.org/

[4] matplotlib.cm https://matplotlib.org/stable/api/cm_api.html

[5] matplotlib.pyplot https://matplotlib.org/stable/api/pyplot_summary.html

[6] pandas https://pandas.pydata.org/docs/

[7] seaborn https://seaborn.pydata.org/