Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Ihsan Alaeddin "
COLLABORATORS = "Group 1"

---

---
# Lab 3: Practice with lists, conditionals, loops
---
## Read All Instructions Carefully
---
Ideas introduced or practiced in this lab:

    Lists and appending

    Counters in for loops
    
    sums in for loops 
    
    If statements

---
### Exercise 1.1
---
Design and write a function called **summation** that takes a number, n, as a parameter, and returns the sum of all the numbers from 1 to n (inclusive). For the design of this function, use a **for** loop and an accumulator.

In [12]:
# YOUR CODE HERE
def summation(n):
    x=0
    for i in range (n+1):
        x=x+i
    return x
    
summation(10)

55

---
### Exercise 1.2
---
Design and write a function called **sum_squares** that takes a number, n, as a parameter, and returns the sum of *the squares of* all the numbers from 1 to n (inclusive). For example, sum_squares(4) should return 30, which is the sum of 1, 4, 9, and 16. Again, use a **for** loop and an accumulator.

In [17]:
# YOUR CODE HERE
def sum_squares(n):
    x=0
    for i in range (n+1):
        x=(i**2)+x
    return x
sum_squares (4)

30

---
### Exercise 1.3
---
Design and write a function called **sum_squares_str** that takes a number, n, as a parameter, and returns a string which displays the summing of *the squares of* all the numbers from 1 to n (inclusive). For example, sum_squares(4) should return "1 + 4 + 9 + 16". Again, use a **for** loop and an accumulator string.

In [73]:
# YOUR CODE HERE
def sum_squares_str (n):
    v=""
    for i in range (1,n):
        v += str(i**2) + (" + ")
    return v + str(n*n)
sum_squares_str (4)

'1+4+9+16'

---
### Exercise 2
---
Design and write a function called **make_list** that returns a list of all the numbers
between 0 and some number, n, including 0 and n. It should take one parameter, n. For this function, use a for loop and the built in python method **append** to add each number to the end of the list. Your accumulator will begin as an empty list.

In [51]:
# YOUR CODE HERE
def make_list(n): 
    a=[]
    for i in range (0,n+1):
        a.append (i)
    return a
make_list(5)

[0, 1, 2, 3, 4, 5]

---
### Exercise 3
---
Design and write a function called **make_list_span** that returns a list of all the numbers
between two specified numbers. For this function, use a for loop and the function **append**
to add each number in the range to the end of the list. This function should take two parameters, a starting number and an ending number, in that order. 

**Example**

Calling the function with the following parameters:

    make_list_span(5, 10)

Should return the list:

    [5, 6, 7, 8, 9, 10]

In [54]:
# YOUR CODE HERE
def make_list_span(s,n):
    a=[]
    for i in range (s,n+1):
        a.append (i)
    return a
make_list_span(5,10)

[5, 6, 7, 8, 9, 10]

---
### Exercise 4
---
Write a function called **my_len_loop** that takes a list as a parameter and returns the length of the list. This function should use an accumulator to find the length. (Do **NOT** just use the len() function.)

In [71]:
# YOUR CODE HERE
def  my_len_loop (list):
    x=0
    for i in (list):
        x= x+1
    return x
my_len_loop ([2,3,4,5,6])

5

---
### Exercise 5
---
Write a function called **list_summation** that takes a list as a parameter and finds
the sum of the numbers in the list by using a for loop and an accumulator. (Don't just use the sum() function.)

In [75]:
# YOUR CODE HERE
def list_summation(list):
    x=0
    for i in list:
        x= x+i
    return x

list_summation([1,2,3])

6

---
### Exercise 6
---
A certain CS professor gives 5-point quizzes that are graded on the scale:

5-A, 4-B, 3-C, 2-D, 1-F, 0-F

In the cell below, write a function called **get_quiz_grade** that takes a quiz score as a parameter and uses a control block to calculate and return the corresponding grade as a string.

**Hint:** Look carefully at which values are associated with which grades.
Also, **if** statements will come in handy!

In [95]:
# YOUR CODE HERE
def get_quiz_grade(n):
    if n == 5:return "A"
    if n == 4:return "B"
    if n == 3:return "C"
    if n == 2:return "D"
    if n == 1:return "F"
    if n == 0:return "F"

get_quiz_grade(3)

'C'

---
### Exercise 6.5
---
A certain CS professor gives 100-point exams that are graded on the scale 90-100:A, 80-89:B, 70-79:C, 60-69:D, < 60:F. In the cell below, write a function called **get_exam_grade** that takes an exam score as a parameter and uses a decision structure to calculate and return the corresponding grade as a string. If the test score entered is not between 0 and 100 (inclusive), it should return the string "Invalid number of points".

In [117]:
# YOUR CODE HERE
def get_exam_grade(n):
    if n >= 101: return "Invalid number of points"
    if n >= 90:return "A"
    if n >= 80:return "B"
    if n >= 70:return "C"
    if n >= 60:return "D"
    if n >= 0:return "F"
    if n <= -1: return "Invalid number of points"
get_exam_grade(-1)

'Invalid number of points'

---
### Exercise 7
---
Write a function called **name_available** that takes a desired username as a 
parameter. The function will determine whether or not this username is available 
by checking to see if it is in a list of taken usernames. The list of taken usernames
is in the file

~barbeda/cs128-share/usernames.dat

Use the **cp** command to move this file into your Lab3 directory and the 
command **cat** to view its contents. You will need to copy the contents of that file in order to write this function. Your code does not need to interact with the file directly - just copy its contents out by hand. 

**Return** **True** if the username is available and **False** if it is taken

In [21]:
# YOUR CODE HERE
def name_available (n):
    Names = ["cats4eva88","XxXemonameXxX","surftime12", "luv2surf12","letssurf12","CoolPikachu85","InfernusX"]
    if n in Names:
        return False
    else: return True
    
name_available ("cats4eva88")

False

---
### Exercise 8
---
Many companies pay time-and-a-half for any hours worked above 40 in a given week (meaning that employees earn 50% more per hour after 40 hours than they normally earn). An employee earns their normal hourly pay for the first 40 hours, but any hours worked after that are paid at a 50% greater rate. 

In the cell below, write a function called **get_wages** that takes the number of hours worked and the hourly rate (in that order) as parameters and returns the total wages earned for the week.

In [175]:
# YOUR CODE HERE
def get_wages(a,n):
    if a <= 40:
        Total_Normal_Wage= a*n
        return Total_Normal_Wage
    if a >= 41:
        extra_hours= a-40
        Maximum_Normal_Payment =40*n
        Total_Wages=(n*1.5)*(extra_hours) + Maximum_Normal_Payment
        return Total_Wages
    
get_wages(41,3)

124.5

---
### Exercise 9
---
Write a function **is_leap_year** that takes a year as a parameter and returns **True** if it is a leap year and **False** if it is not a leap year. A year is usually a leap year if it is divisible by 4. But, if it is divisible by 100, it is not a leap year unless it is also divisble by 400. For example, 2000 is a leap year and so is 2004, but 1900 is not a leap year and neither is 1995. 

Underneath your function definition, test your function with those four years.

In [7]:
# YOUR CODE HERE
def  is_leap_year(y):
    if y % 4 == 0 and y%100!=0:
        return (True)
    elif y%100==0 and y%400 == 0:
        return (True)
    else:
        return (False)
    
is_leap_year(1900)

False

---
### Exercise 10
---
Write a function called **fizzbuzz**. The function will create and return a list of all the numbers between 1 and 35 (inclusive). The catch is that, for every multiple of 3, instead of adding that number to the list, you will add the string "fizz" and for every multiple of 5, instead of that number you wil add the string "buzz". For numbers that are both multiples of 3 and 5, you will instead add the word "fizzbuzz". Your function doesn't need to take any parameters.

The first part of the list should look like:

    1, 2, 'fizz', 4, 'buzz', 'fizz', 7...

You can detect if a number is a multiple of another number using the modulo operator, %.

    if k % 13 == 0:
    
Will test to see if k is a multiple of 13.

When you are done with your work, make sure to validate your answers using the validator in Jupyter.

In [263]:
# YOUR CODE HERE
def fizzbuzz ():
    result = []
    for x in range (1,36):
        if x % 3 == 0 and x % 5 == 0:
            result.append('fizzbuzz')
        elif x % 3 == 0:
            result.append('fizz')
        elif x % 5 == 0:
            result.append('buzz')
        else:
            result.append (x)
    return result
fizzbuzz ()

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'FizzBuzz',
 31,
 32,
 'Fizz',
 34,
 'Buzz']

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(summation(20), 210)
assert_equal(summation(10), 55)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(sum_squares(5), 55)
assert_equal(sum_squares(10), 385)

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(sum_squares_str(5), "1 + 4 + 9 + 16 + 25")
assert_equal(sum_squares_str(7), "1 + 4 + 9 + 16 + 25 + 36 + 49")

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(make_list(10), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(make_list_span(11, 19), [11, 12, 13, 14, 15, 16, 17, 18, 19])
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(my_len_loop([7, 5, 2, 8, 4, 7, 4, 5]), 8)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(list_summation([7, 5, 2, 8, 4, 7, 4, 5]), 42)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(get_quiz_grade(3), 'C')
assert_equal(get_quiz_grade(4), 'B')
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(get_exam_grade(56), 'F')
assert_equal(get_exam_grade(88), 'B')
assert_equal(get_exam_grade(87.5), 'B')
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(name_available("cats4eva89"), True)
assert_equal(name_available("cats4eva88"), False)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(get_wages(50, 10), 550.0)
assert_equal(get_wages(30, 10), 300.0)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(is_leap_year(2000), True)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(is_leap_year(2016), True)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(is_leap_year(1900), False)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(is_leap_year(2015), False)
### END TEST

In [ ]:
# Ignore this cell
# DO NOT DELETE THIS CELL
from nose.tools import assert_equal
### BEGIN TEST
assert_equal(fizzbuzz(), [1, 2, 'fizz', 4, 'buzz', 'fizz', 7, 8, 'fizz', 'buzz', 11, 'fizz', 13, 14, 'fizzbuzz', 16, 17, 'fizz', 19, 'buzz', 'fizz', 22, 23, 'fizz', 'buzz', 26, 'fizz', 28, 29, 'fizzbuzz', 31, 32, 'fizz', 34, 'buzz'])
### END TEST